### IntelliJ IDEA ###
.idea/
*.iml
*.ipr
*.iws
out/

### Java ###
*.class
*.log
*.jar
*.war
*.ear
bin/
target/

### Dependencies ###
/lib/
!/lib/mysql-connector-j-9.1.0.jar  # Permite APENAS este arquivo

### System ###
.DS_Store
Thumbs.db